.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr))
}

.bg-calendar-today {
  --bs-bg-opacity: .4;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}